.flashsale.contianer{
    margin: 0;
    background: #8AC6D1;
    height: 40rem;
}
/* header */
.flash-sale.header{
    margin: 0;
    background: #fff;
    width: 20%;
    height: 40rem;
}
.flash-sale.header1{
    margin: 0;
    display: flex;
    justify-content: center ;
}
.flash-sale.header2{
    margin-top: -15rem;
    display: flex;
    justify-content: space-between;
}

/* TEXT */
.flash-sale.header1 h3{
    margin: 13rem;

}



/* TEXT */

.flash-logo2{
    margin-top: -8rem;
}

/* header */

/* body */
.flash-sale.body
{
    margin-top: -37rem;
    display: flex;
    justify-content: space-between;
    
}

.flash-sale.body1{
    margin-left:20rem; 
}
.flash-sale.body2{
    margin-left:30rem;  
}

/* text */
.text-blue
{
    font-weight: bolder;
    color: #194689 ;
    font-size: 1.5em;
}
.text-white{
    font-weight: bolder;
    color: #fff ;
    font-size: 1.7em;
}
.Button-All-Sale button{
    font-size: 2em;
    background: #FEAE73;
    border-radius: 198.5px;
    text-decoration: none;
    border: none;
    width: 357px;
    height: 68px;
}
.Button-All-Sale button:hover{
    background: #da3357;
}
/* text */
.Time-flash{
    margin-right:3rem; 
}
.Card-Button{
    margin-top: 1rem;
    margin-left:21rem; 
    width: 70%;
    
}
.Button-All-Sale{
    margin: 1rem;
    display: flex;
    justify-content: center;
}


/* body */