.footer.Container{
    margin: 0;
    padding: 0;
    background: #333;
}
.footer-header{
    margin: 1.5rem;
    padding: 2rem;
    text-align: center;
}
.footer-body{
    margin-top: -2rem;
    display: flex;
    justify-content: center;
}
.footer-body.box-cash{
    margin: 1rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 10rem;
    background: #eee;
}
.footer-body.box{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 10rem;
    background: #eee;
}
/* text */

.footer-body.box span{
    display: flex;
    justify-content: center;
    color: rgb(7, 7, 7);
    font-weight: bolder;
    cursor: pointer;
}
/* text */
/* Icon */
.footer-body.box-icon{
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}
/* Icon */
.footer-body.box-header span{
    margin-top: 3rem;
    color: rgb(7, 7, 7);
    font-weight: bolder;
}