@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&family=Redressed&display=swap');

*
{
    font-family: 'Mitr', sans-serif;
    color: #fff;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Redressed', cursive;
}
h2{
    font-weight: 900;
    font-size: 75px;
    color: red;
}
h3{
    font-weight: 900;
    font-size: 64px;
    color: #333;
}
